.test1 {
	background-color: F2E2BA;
	color: F2E2BA;
	border: 10px solid white;
	padding: 4px 7px 2px;
}
.test3 {
	background-color: red;
	color: white;
	padding: 0px 15px 1px;
	box-sizing: border-box;
} 
.test2 {
	background-color: black;
	color: white;
	padding: 1px 10px 5px;
	box-sizing: border-box;
}